* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.welcome, .para, i, p {
    color: #9f56cb;
}

.container {
    margin: 0 auto;
    padding: 0 40px 20px 40px;
    max-width: 500px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    display: inline-block;
    background: #FFFFFF;
    width: 32%;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: auto;
    line-height: 1;
    text-align: center;

}

.container img{
    width: 80%;
}

.wrapper {
    line-height: 2;
}

.welcome {
    text-align:center;
    position: relative;
}

.para {
    font-weight: 400;
}